.DS_Store
.editorconfig
.keep

.bundle
vendor/bundle/*

/log
/tmp
!/log/.keep
!/tmp/.keep

db/*.sqlite3
db/*.sql
db/*.bz2
sqlite3/*

public/thumbs/*.png
public/sitemap*
public/assets/*
public/assets_/*

shared/*
releases/*

.env
.env.development
.env.test
.env.production
.env.stating

.rbenv-version
.sass-cache/
*sublime*
.idea
.rsync_cache
ERD.pdf
nbproject
.tags
.test_queue_stats
*.sw[po]
*.pyc

docker/data

config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
